# packages for training
torch
hydra-core
omegaconf
wandb
tensorboard
transformers
datasets
accelerate
deepspeed
peft
zstandard
boto3
smart_open
bitsandbytes
flash-attn

# FlashAttention
# pip install flash-attn --no-build-isolation


# packages for evaluation
sacrebleu
evaluate
sqlitedict
nltk
pytablewriter
rouge_score
matplotlib
more_itertools

# LM-evaluation-harness
# git clone --depth 1 https://github.com/EleutherAI/lm-evaluation-harness
# cd lm-evaluation-harness
# pip install -e .